{%- macro format(color) -%}
        (
            red: {{ color.rgb.r / 255 | trunc(places=8) }},
            green: {{ color.rgb.g / 255 | trunc(places=8) }},
            blue: {{ color.rgb.b / 255 | trunc(places=8) }},
            alpha: 1.0,
        )
{%- endmacro format -%}

{%- macro format_optional(color, alpha=1.0) -%}
    Some((
        red: {{ color.rgb.r / 255 | trunc(places=8) }},
        green: {{ color.rgb.g / 255 | trunc(places=8) }},
        blue: {{ color.rgb.b / 255 | trunc(places=8) }},
        alpha: {{ alpha }},
    ))
{%- endmacro format_optional -%}

(
    palette: {{ kind | capitalize }}((
        name: "{{ name }}",
        blue: {{ self::format(color=foam) }},
        red: {{ self::format(color=love) }},
        green: {{ self::format(color=pine) }},
        yellow: {{ self::format(color=gold) }},
        gray_1: {{ self::format(color=highlight_low) }},
        gray_2: {{ self::format(color=highlight_med) }},
        gray_3: {{ self::format(color=highlight_high) }},
        neutral_0: {{ self::format(color=base) }},
        neutral_1: {{ self::format(color=surface) }},
        neutral_2: {{ self::format(color=overlay) }},
        neutral_3: {{ self::format(color=highlight_low) }},
        neutral_4: {{ self::format(color=highlight_med) }},
        neutral_5: {{ self::format(color=highlight_high) }},
        neutral_6: {{ self::format(color=highlight_low) }},
        neutral_7: {{ self::format(color=highlight_med) }},
        neutral_8: {{ self::format(color=highlight_high) }},
        neutral_9: {{ self::format(color=base) }},
        neutral_10: {{ self::format(color=surface) }},
        bright_green: {{ self::format(color=foam) }},
        bright_red: {{ self::format(color=love) }},
        bright_orange: {{ self::format(color=rose) }},
        ext_warm_grey: {{ self::format(color=muted) }},
        ext_orange: {{ self::format(color=rose) }},
        ext_yellow: {{ self::format(color=gold) }},
        ext_blue: {{ self::format(color=pine) }},
        ext_purple: {{ self::format(color=iris) }},
        ext_pink: {{ self::format(color=rose) }},
        ext_indigo: {{ self::format(color=iris) }},
        accent_blue: {{ self::format(color=foam) }},
        accent_red: {{ self::format(color=love) }},
        accent_green: {{ self::format(color=pine) }},
        accent_warm_grey: {{ self::format(color=muted) }},
        accent_orange: {{ self::format(color=rose) }},
        accent_yellow: {{ self::format(color=gold) }},
        accent_purple: {{ self::format(color=iris) }},
        accent_pink: {{ self::format(color=love) }},
        accent_indigo: {{ self::format(color=iris) }},
    )),
    spacing: (
        space_none: 0,
        space_xxxs: 4,
        space_xxs: 8,
        space_xs: 12,
        space_s: 16,
        space_m: 24,
        space_l: 32,
        space_xl: 48,
        space_xxl: 64,
        space_xxxl: 128,
    ),
    corner_radii: (
        radius_0: (0.0, 0.0, 0.0, 0.0),
        radius_xs: (4.0, 4.0, 4.0, 4.0),
        radius_s: (8.0, 8.0, 8.0, 8.0),
        radius_m: (16.0, 16.0, 16.0, 16.0),
        radius_l: (32.0, 32.0, 32.0, 32.0),
        radius_xl: (160.0, 160.0, 160.0, 160.0),
    ),
    neutral_tint: {{ self::format_optional(color = overlay) }},
    bg_color: {{ self::format_optional(color = base) }},
    primary_container_bg: {{ self::format_optional(color = surface) }},
    secondary_container_bg: None,
    text_tint: {{ self::format_optional(color = text) }},
    accent: {{ self::format_optional(color = iris) }},
    success: {{ self::format_optional(color = pine) }},
    warning: {{ self::format_optional(color = gold) }},
    destructive: {{ self::format_optional(color = love) }},
    is_frosted: false,
    gaps: (0, 10),
    active_hint: 2,
    window_hint: None,
)
